{{> head }}


{{> navbar}}
<div class="row">
    <div class="col-8">
        <H1>Acerca de la banda</H1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, provident odit labore perspiciatis nostrum
            voluptate cupiditate recusandae esse molestiae dolorum quae ullam libero expedita ut soluta reprehenderit,
            commodi consequatur officia.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/DeaMatrona.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer }}